In [1]:
string = "hello world"
reversed_string = string[::-1]
print("the original string is" , string )
print("the reversed string is" , reversed_string)

the original string is hello world
the reversed string is dlrow olleh

In [2]:
def is_palindrome(string):
    return string == string[::-1]

string = "racecar"
if is_palindrome(string):
    print(f"{string} is a palindrome!")
else:
    print(f"{string} is not a palindrome.")

racecar is a palindrome!

In [4]:
def convert_to_uppercase(string: str) -> str:
    return string.upper()

string = "Hello, World!"
print("Original string: ", string)
print("Uppercase string: ", convert_to_uppercase(string))

Original string:  Hello, World!
Uppercase string:  HELLO, WORLD!

In [5]:
def convert_to_lowercase(string: str) -> str:
    return string.lower()

string = "Hello, World!"
print("Original string: ", string)
print("Lowercase string: ", convert_to_lowercase(string))

Original string:  Hello, World!
Lowercase string:  hello, world!

In [6]:
def count_vowels(string: str) -> int:
    vowels = "aeiou"
    count = 0
    for char in string:
        if char.lower() in vowels:
            count += 1
    return count

string = "Hello, World!"
print("Original string: ", string)
print("Number of vowels: ", count_vowels(string))

Original string:  Hello, World!
Number of vowels:  3

In [7]:
def count_consonants_loop(string: str) -> int:
    num_consonants = 0
    for char in string:
        if char.isalpha() and char.lower() not in "aeiou":
            num_consonants += 1
    return num_consonants

string = "Hello, World!"
print("Original string: ", string)
print("Number of consonants: ", count_consonants_loop(string))

Original string:  Hello, World!
Number of consonants:  7

In [8]:
def remove_whitespace(string: str) -> str:
    return string.replace(" ", "")

string = "Hello, World!"
print("Original string: ", string)
print("String with no whitespace: ", remove_whitespace(string))

Original string:  Hello, World!
String with no whitespace:  Hello,World!

In [9]:
def find_length_sum(string: str) -> int:
    return sum(1 for char in string)

string = "Hello, World!"
print("Original string: ", string)
print("Length of string: ", find_length_sum(string))

Original string:  Hello, World!
Length of string:  13

In [2]:
string = "The quick brown fox jumps over the lazy dog"
word = "fox"
if word in string:
    print(f"The string contains the word {word}")
else:
    print(f"The string does not contain the word {word}")

The string contains the word fox

In [5]:
string = "The quick brown fox jumps over the lazy dog"
old_word = "fox"
new_word = "cat"
new_string = string.replace(old_word , new_word)
print(f"The new string is: {new_string}")

The new string is: The quick brown cat jumps over the lazy dog

In [1]:
string = "The quick brown fox jumps over the lazy dog"
word = "the"
count = string.count(word)
print(f"The word '{word}' appears {count} times in the string.")

The word 'the' appears 1 times in the string.

In [2]:
string = "The quick brown fox jumps over the lazy dog"
word = "fox"
index = string.find(word)
if index != -1:
    print(f"The word '{word}' first occurs at index {index}")
else:
    print(f"The word '{word}' does not occur in the string")

The word 'fox' first occurs at index 16

In [7]:
string = "the quick brown fox jumps over the lazy dog"
word = "over"
index = string.rfind(word)
if index != -1:
    print(f"The word '{word}' last occurs at index {index}")
else:
     print(f"The word '{word}' does not occur in the string")

The word 'over' last occurs at index 26

In [8]:
string = "The quick brown fox jumps over the lazy dog"
words = string.split()
print(f"The list of words is: {words}")

The list of words is: ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [9]:
words = ['this', 'is', 'a', 'sentence']
separator = '-'
sentence = separator.join(words)
print(f"The joined sentence is: {sentence}")

The joined sentence is: this-is-a-sentence

In [2]:
string_with_spaces = "this is a string with spaces"
string_with_underscore = string_with_spaces.replace(" ","_")
print(string_with_underscore)

this_is_a_string_with_spaces

In [3]:
string = "this is a string"
if string.startswith("this"):
    print("this string starts with 'this'")

this string starts with 'this'

In [4]:
string = "this is a string"
if string.endswith("string"):
    print("this string ends with 'string'")

this string ends with 'string'

In [6]:
a = "hello world"
title_case_string = a.title()
print(title_case_string)

Hello World

In [6]:
b = "this is a longest string"
longest_string = b.find(longest_word)
print(longest_string)

18

In [5]:
string = "this is a string with some long words"
words = string.split()
longest_word = ""
for word in words:
    if len(word) > len(longest_word):
        longest_word = word
print(f"the longest word is {longest_word} with length {len(longest_word)}.")

the longest word is string with length 6.

In [11]:
def find_shortest_word(string):
    words = string.split()
    shortest_word = words[0]
    for word in words:
        if len(word) < len(shortest_word):
            shortest_word = word
    return shortest_word

In [12]:
find_shortest_word("this is a sentence with some shortest words")

'a'

In [38]:
string = "The quick brown fox jumps over the lazy dog"
reversed_string = reverse_words(string)
print("The reversed string is:", reversed_string)

The reversed string is: dog lazy the over jumps fox brown quick The

In [67]:
string = "Hello"
if is_alphanumeric(string):
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

The string is alphanumeric

In [75]:
string = "This is a string with 100 numbers"
digits = []
for char in string:
    if char.isdigit():
        digits.append(char)
print(digits)

['1', '0', '0']

In [96]:
def extract_alphabets(string):
  alphabets = ""
  for char in string:
    if char.isalpha():
      alphabets += char
  return alphabets

string = input("Enter a string: ")
print("The alphabets in the string are: ", extract_alphabets(string))

Enter a string:  this is the splelling of 1000

The alphabets in the string are:  thisisthesplellingof

In [1]:
def count_upper_letter(string):
    count = 0
    for letter in string:
        if letter.isupper():
            count += 1
    return count

string = input("enter a string")
print(f"the number of upper case letter in {string} is {count_upper_letter(string)}")

enter a string FULL STACK data SCIENCE

the number of upper case letter in FULL STACK data SCIENCE is 16

In [3]:
def count_lower_letter(string):
    count = 0
    for letter in string:
        if letter.islower():
            count += 1
    return count

string = input("enter a string")
print(f" the number of lower case letter in {string} is {count_lower_letter(string)}")

enter a string PwSkills

 the number of lower case letter in PwSkills is 6

In [9]:
my_string = "hello world"
swapped_string = my_string.swapcase()
print(swapped_string)

HELLO WORLD

In [18]:
my_string = "papa is a good man"
word_to_remove = "papa"
new_string = my_string.replace(word_to_remove, "")
print(new_string)

 is a good man

In [21]:
import re

def is_valid_email(email):
    pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
    return re.match(pattern, email)

email = "example@example.com"
if is_valid_email(email):
    print(f"{email} is a valid email address.")
else:
    print(f"{email} is not a valid email address.")

example@example.com is a valid email address.

In [30]:
email = "pwskills@example.com"
username = email.split("@") [0]
print(username)

pwskills

In [31]:
email = "pwskills@example.com"
domain_name = email.split("@") [1]
print(domain_name)

example.com

In [32]:
my_string = "this  is  a  string  with  multiple  spaces"
single_space_string = " ".join(my_string.split())
print(single_space_string)

this is a string with multiple spaces

In [3]:
def is_valid_url(url):
    
    valid_chars = set("abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-._~:/?#[]@!$&'()*+,;=")

    
    for char in url:
        if char not in valid_chars:
            return False

    return True


url = "https://www.example.com"
if is_valid_url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

In [46]:
url = "https://www.example.com"
extract_protocol = url.split(":") [0]
print(extract_protocol)

https

In [2]:
import re

my_string = "Hello, World!"
no_punct_string = re.sub(r'[^\w\s]', '', my_string)
print(no_punct_string)

Hello World

In [3]:
def is_string_digits_only(s: str) -> bool:
    return s.isdigit()

In [7]:
is_string_digits_only("12345")

True

In [7]:
string = "HelloWorld"
if string.isalpha():
    print("this string contains only alphabets")
else:
    print("this string contains non-alphabetic characters")

this string contains only alphabets

In [11]:
string = "pwskills"
char_list = list(string)
print(char_list)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [4]:
def is_anagram(str1 : str,str2 : str):
    return sorted(str1.lower()) == sorted(str2.lower())

str1 = "silent"
str2 = "listen"
if is_anagram(str1 , str2):
    print(f"{str1} and {str2} are anagrams")
else:
     print(f"{str1} and {str2} are not anagrams")

silent and listen are anagrams

In [3]:
def caesar_cipher_encode(message: str, key: int) -> str:
    result = ""
    for character in message:
        if character.isalpha():
            shift = key % 26
            if character.islower():
                result += chr((ord(character) - ord('a') + shift) % 26 + ord('a'))
            else:
                result += chr((ord(character) - ord('A') + shift) % 26 + ord('A'))
        else:
            result += character
    return result

# Example usage
message = "Hello, World!"
key = 3
encoded_message = caesar_cipher_encode(message, key)
print(f"Encoded message: {encoded_message}")

Encoded message: Khoor, Zruog!

In [5]:
import string

def caesar_cipher_decode(ciphertext, key):
    """
    Decrypts a string encoded using the Caesar cipher.

    Args:
        ciphertext (str): The string to be decrypted.
        key (int): The number of positions to shift each character.

    Returns:
        str: The decrypted string.
    """
    plaintext = ""
    for character in ciphertext:
        if character.isalpha():
            shifted_character = chr((ord(character) - ord('a') - key) % 26 + ord('a')) if character.islower() else chr((ord(character) - ord('A') - key) % 26 + ord('A'))
            plaintext += shifted_character
        else:
            plaintext += character
    return plaintext

In [6]:
>>> caesar_cipher_decode("khoor zruog", 3)

'hello world'

In [9]:
from collections import Counter

string = "This is a sample string. It contains some words that are repeated. Let's find the most frequent word in this string."

words = string.split()
word_counts = Counter(words)

most_frequent_word = word_counts.most_common(1)[0][0]

print(f"The most frequent word in the string is **{most_frequent_word}**.")

The most frequent word in the string is **string.**.

In [12]:
string = "This is a sample string. It contains some words that are repeated. Let's find all unique words in this string."

words = string.split()
unique_words = set(words)

print(f"The unique words in the string are: **{', '.join(unique_words)}**.")

The unique words in the string are: **a, is, Let's, all, are, some, this, in, find, It, words, contains, that, string., repeated., This, unique, sample**.

In [15]:
string = "This is a sample string. It contains some words that are repeated. Let's count the number of syllables in this string."

vowels = "aeiouy"
syllable_count = 0

for word in string.split():
    for vowel in vowels:
        syllable_count += word.count(vowel)
    for ending in ["es", "ed", "e"]:
        if word.endswith(ending):
            syllable_count -= word[-len(ending)-1:-len(ending)].count(vowels)

print(f"The number of syllables in the string is **{syllable_count}**.")

The number of syllables in the string is **32**.

In [17]:
n = "full@stack$datascience&pro"
n.split()
c = 0
s = '[@_!#$%^&*()<>?/\|}{~:]'  
for i in range(len(n)):
    
    if n[i] in s:
        c += 1   
 


if c:
    print("string is not accepted")
else:
    print("string accepted")

string is not accepted

In [20]:
def remove_nth_word(string, n):
  """Removes the nth word from a string.

  Args:
    string: The string to remove the word from.
    n: The index of the word to remove.

  Returns:
    A new string with the nth word removed.
  """

  words = string.split()
  del words[n - 1]
  return " ".join(words)

string = "This is a sentence with five words."
n = 3
new_string = remove_nth_word(string, n)

print(new_string)

This is sentence with five words.

In [23]:
string = "This is a sample string. It contains some words that are repeated. Let's remove the nth word from this string."

n = 0
words = string.split()
words.pop(n)
new_string = ' '.join(words)

print(f"The new string is: **{new_string}**.")

The new string is: **is a sample string. It contains some words that are repeated. Let's remove the nth word from this string.**.

In [24]:
string = "This is a sample string. It contains some words that are repeated. Let's insert a word at the nth position in this string."

n = 3  
word_to_insert = "new_word"
words = string.split()
words.insert(n, word_to_insert)
new_string = ' '.join(words)

print(f"The new string is: **{new_string}**.")

The new string is: **This is a new_word sample string. It contains some words that are repeated. Let's insert a word at the nth position in this string.**.

In [25]:
import csv

csv_string = "1,2,3\n4,5,6\n7,8,9"
csv_list = csv_string.strip().split('\n')
csv_list_of_lists = [row.split(',') for row in csv_list]

print(f"The CSV string is: **{csv_string}**.")
print(f"The CSV list is: **{csv_list}**.")
print(f"The CSV list of lists is: **{csv_list_of_lists}**.")

The CSV string is: **1,2,3
4,5,6
7,8,9**.
The CSV list is: **['1,2,3', '4,5,6', '7,8,9']**.
The CSV list of lists is: **[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]**.

In [30]:
my_list = list(range(1,11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
my_list = [1,2,3,4,5]
count = 0
for elements in my_list:
    count += 1
print(f"the length of the list is {count}")

the length of the list is 5

In [35]:
my_list = [1,2,3,4,5]
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [40]:
my_list = [1,2,3,4,5]
my_list.insert(2,5)
print(my_list)

[1, 2, 5, 3, 4, 5]

In [41]:
my_list = [1,2,3,4,5]
my_list.pop(3)
print(my_list)

[1, 2, 3, 5]

In [43]:
my_list = [1,2,3,4,5]
del my_list[2]
print(my_list)

[1, 2, 4, 5]

In [44]:
my_list = [1,2,3,4,5]
if 3 in my_list:
    print("3 exists in the list")
else:
    print("3 doesn't exist in the list")

3 exists in the list

In [1]:
my_list = [1,2,3,4,5]
my_list.index(4)

3

In [47]:
my_list = [1,2,3,4,5,1,2,3,1]
element = 1
count = my_list.count(element)
print(f"the element {element} occurs {count} times in the list.")

the element 1 occurs 3 times in the list.

In [55]:
my_list = [1,2,3,4,5,6,7,8,9]
my_list.reverse()
print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [58]:
my_list = [5,7,8,4,1,3,6,2]
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [59]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
sorted_list = sorted(my_list,reverse = True)
print(f'the sorted list in ascending order is : {sorted_list} ')

the sorted list in ascending order is : [9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [2]:
even_numbers = [i for i in range (2,21,2)]
print(f" the number of even numbers from 1 to 20 are: {even_numbers}")

 the number of even numbers from 1 to 20 are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
odd_numbers = [i for i in range (1,21,2)]
print(f" the number of odd numbers from 1 to 20 are: {odd_numbers}")

 the number of odd numbers from 1 to 20 are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
my_list = [2,4,5,7,8,93]
total = 0
for i in my_list:
    total += i
print(f" the sum of all elements in the digit is: {total} ")

 the sum of all elements in the digit is: 119

In [20]:
my_list = [2,4,5,7,8,93]
maximum_value = max(my_list)
print(f"the maximum value in the list is : {maximum_value}")

the maximum value in the list is : 93

In [21]:
my_list = [2,4,5,7,8,93]
minimum_value = min(my_list)
print(f"the minimum value in the list is : {minimum_value}")

the minimum value in the list is : 2

In [23]:
squares = [i**2 for i in range(1,11)]
print(f" the list of squares of number from 1 to 10 is : {squares}")

 the list of squares of number from 1 to 10 is : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
import random

rand_list=[]
n=10
for i in range(n):
	rand_list.append(random.randint(3,9))
print(rand_list)

[6, 5, 5, 3, 5, 5, 5, 7, 9, 8]

In [5]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print ("The original list is : "
		+ str(test_list))


test_list = list(set(test_list))
print ("The list after removing duplicates : "
		+ str(test_list))

The original list is : [1, 5, 3, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]

In [10]:
test_list = [1, 5, 3, 6, 3, 5, 6, 1]
print("the original list is : " + str(test_list))

test_list = list(set(test_list))
print("the list after removing duplicates is : " +str (test_list))

the original list is : [1, 5, 3, 6, 3, 5, 6, 1]
the list after removing duplicates is : [1, 3, 5, 6]

In [16]:
def common_element(a , b):
    a_set = set(a)
    b_set = set(b)
    
    if (a_set & b_set):
        print(a_set & b_set)
    else:
        print("no common elements found")   
        
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]   

common_element(a,b)

{5}

In [6]:
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

temp3 = []

for elements in li1:
    if elements not in  li2:
        temp3.append(elements)
        
print(temp3)

[10, 15, 20, 30]

In [19]:
test_list1 = [1, 4, 5, 6, 5]
test_list2 = [3, 5, 7, 2, 5]


for i in test_list2 :
	test_list1.append(i)


print ("Concatenated list using naive method : "+ str(test_list1))

Concatenated list using naive method : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [26]:
def multiply_list(my_list):
    result = 2
    for x in my_list:
        result = result * x
    return result    

list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiply_list(list1))
print(multiply_list(list2))

12
48

In [29]:
list = [1,2,3,4,5,6,7,8,9,10]
even = []

for num in list:
    if num % 2 == 0:
        even.append(num)
print(even)

[2, 4, 6, 8, 10]

In [37]:
test_list = ['1', '4', '3', '6', '7']
test_list = [int(i) for i in test_list]
print("the modified list is :"  + str(test_list))

the modified list is :[1, 4, 3, 6, 7]

In [39]:
list = [1,2,3,4,5,6,7,8,9,10]
list = [str(i) for i in list]
print("the modified list is : " + str(list))

the modified list is : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [2]:
def flat(lis):
    flatlist = []
    for element in lis:
        if type(element) is list:
            for item in element:
                flatlist.append(item)
        else:
            flatlist.append(element)
    return flatlist

lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
print('List', lis)
print('Flat List', flat(lis))

List [[11, 22, 33, 44], [55, 66, 77], [88, 99, 100]]
Flat List [11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [6]:
def Fibonacci(n):
	if n<= 0:
		print("Incorrect input")
	
	elif n == 1:
		return 0
	
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)



print(Fibonacci(10))

34

In [2]:
test_list = [1,4,5,8,10]
flag = 0

if (test_list == sorted(test_list)):
    flag = 1
    print("yes , list is sorted")
    
else:
    print("No , list is not sorted")

yes , list is sorted

In [4]:
def rotate_left(test_list , n):
    return test_list[n:] + test_list[:n]

test_list = [1,2,3,4,5]
n = 2
print(f" the original list : {test_list}")
print(f" list after left rotation by {n} positions : {rotate_left(test_list , n)}")

 the original list : [1, 2, 3, 4, 5]
 list after left rotation by 2 positions : [3, 4, 5, 1, 2]

In [9]:
def rotate_right(test_list , n):
    return test_list[-n:] + test_list[:-n]

test_list = [3,4,5,1,2]
n = 2
print(f" the original list is {test_list}")
print(f" list after right rotation ny {n} positions : {rotate_right(test_list , n)}")

 the original list is [3, 4, 5, 1, 2]
 list after right rotation ny 2 positions : [1, 2, 3, 4, 5]

In [10]:
def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list


starting_range = 1
ending_range = 50
lst = prime(starting_range, ending_range)
if len(lst) == 0:
	print("There are no prime numbers in this range")
else:
	print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
my_list = [1, 2, 3, 4, 5, 
		6, 7, 8, 9] 
start = 0
end = len(my_list) 
step = 3
for i in range(start, end, step): 
	x = i 
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [12]:
def square_list(list1):
  for i in range(len(list1)):
    list1[i] = list1[i] ** 2


my_list = [1, 2, 3, 4, 5]
square_list(my_list)
print(my_list)

[1, 4, 9, 16, 25]

In [13]:
def convert_list_to_dict(list1):
    result = {}
    for i, elem in enumerate(list1):
        result[elem] = i
    return result


list1 = [1, 2, 3, 4, 5]
dict1 = convert_list_to_dict(list1)
print(dict1)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [14]:
import random

mylist = ["apple", "banana", "cherry"]
random.shuffle(mylist)

print(mylist)

['cherry', 'apple', 'banana']

In [17]:
list = {1, 2, 3, 4, 5,6,7,8,9,10}

input_set = {1, 2, 3, 4, 5,6,7,8,9,10}
fact = 1
for item in input_set:
    for number in range(1,item+1):
        fact = fact * number
    print ("Factorial of", item, "is", fact)

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 12
Factorial of 4 is 288
Factorial of 5 is 34560
Factorial of 6 is 24883200
Factorial of 7 is 125411328000
Factorial of 8 is 5056584744960000
Factorial of 9 is 1834933472251084800000
Factorial of 10 is 6658606584104736522240000000

In [18]:
def common_data(list1, list2):
	result = False

	
	for x in list1:

		
		for y in list2:

			
			if x == y:
				result = True
				return result 
				
	return result
	

a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

In [19]:
list1 = [1, 2, 3, 4, 5]
list1.clear()
print(list1)

[]

In [20]:
def replace_negative_with_zero(list1):
  for i in range(len(list1)):
    if list1[i] < 0:
      list1[i] = 0

list1 = [-1, 2, -3, 4, -5]
replace_negative_with_zero(list1)
print(list1)

[0, 2, 0, 4, 0]

In [21]:
string = "This is a sentence"
words = string.split()

print(words)

['This', 'is', 'a', 'sentence']

In [22]:
list_of_words = ["Hello", "World!"]
string = " ".join(list_of_words)
print(string)

Hello World!

In [5]:
def powers_of_2(n):
    return [2**i for i in range(n)]


n = 5
powers = powers_of_2(n)
print(powers)

[1, 2, 4, 8, 16]

In [7]:
test_list = ["data science" , "big data" , "data analytics" , "web development"]
print("the original list:" + str(test_list))

max_len = -1
for element in test_list:
    if len(element) > max_len:
        max_len = len(element)
        result = element
        
print(f" the maximum length string is:" + result)

the original list:['data science', 'big data', 'data analytics', 'web development']
 the maximum length string is:web development

In [2]:
list = ["data science" , "big data" , "data analytics" , "web development"]
shortest_string = min(list , key = len)
print("the shortest string in the given list is " , shortest_string)

the shortest string in the given list is  big data

In [10]:
def triangular_numbers(n):
    return [int(i*(i+1)/2) for i in range(1 , n+1)]

print(triangular_numbers(10))

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [11]:
def is_subsequence(list1, list2):
    iter_list2 = iter(list2)
    return all(any(i == j for j in iter_list2) for i in list1)

# Test the function
print(is_subsequence([1, 3], [1, 2, 3, 4]))  # Outputs: True
print(is_subsequence([1, 4], [1, 2, 3, 4]))  # Outputs: False

True
True

In [13]:
def is_subsequence(list1 , list2):
    iter_list2 = iter(list2)
    return all(any(i == j for j in  iter_list2) for i in list1)

print(is_subsequence([1, 3], [1, 2, 3, 4])) 
print(is_subsequence([1, 4], [1, 2, 3, 4]))

True
True

In [17]:
def swap_elements(lst , index1 , index2):
    lst[index1] , lst[index2] = lst[index2] , lst[index1]
    return lst

print(swap_elements(['a' , 'b' , 'c' , 'd' , 'e'],1,3))

['a', 'd', 'c', 'b', 'e']

In [18]:
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [23]:
t = (1,2,3,4,5)
third_element = t[2]
print(third_element)

3

In [26]:
t = (1,2,3,4,5)
length = 0
for i in t:
    length += 1
    
print(length)

5

In [28]:
t = (1,2,3,4,5)
find_occurence = t.count(3)
print(find_occurence)

1

In [33]:
t = (1,2,3,4,5,3,2,4)
element = 3
count = t.count(element)
print(count)

2

In [35]:
t = (1,2,3,4,5,6,7,8,9)
element = 5
first_occurence = t.index(element)
print(first_occurence)

4

In [39]:
t = (1,2,3,4,5,6,7,8,9)
element = 2
exist_element = element in t
print(exist_element)

True

In [1]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
list = [1,2,3,4,5,6,7,8,9]
my_tuple = tuple(list)
print(my_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
my_tuple = (1,2,3)
a,b,c = my_tuple
print('a :' , a)
print('b :' , b)
print('c :' , c)

a : 1
b : 2
c : 3

In [11]:
even_number_tuple = tuple(i for i in range(2,11,2))
print(even_number_tuple)

(2, 4, 6, 8, 10)

In [15]:
odd_number_tuple = tuple(i for i in range(1,11,2))
print(odd_number_tuple)

(1, 3, 5, 7, 9)

In [17]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [18]:
tuple = (1,2,3,4,5)
repeat_tuple = tuple*3
print(repeat_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [23]:
my_tuple = ()
if len(my_tuple) == 0:
    print("tuple is empty")
else:
    print("tuple is not empty")

tuple is empty

In [25]:
nested_tuple = ((1,2,3) , (4,5,6) , (7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [28]:
nested_tuple = ((1,2,3) , (4,5,6) , (7,8,9))
first_nested_element = nested_tuple[0]
first_element = first_nested_element[0]
print(first_element)

1

In [35]:
my_tuple = (1,)
print(my_tuple)

(1,)

In [37]:
tuple1 = (1,2,4)
tuple2 = (1,2,4)

if tuple1 == tuple2:
    print("tuples are equal")
elif tuple1 < tuple2:
    print("tuple1 is smaller than tuple2")
else:
    print("tuple1 is greater than tuple2")

tuples are equal

In [44]:
my_tuple = (1, 2, 3, 4, 5)
print("Original tuple:", my_tuple)


del my_tuple

Original tuple: (1, 2, 3, 4, 5)

In [48]:
my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:3]
print(sliced_tuple)

(2, 3)

In [51]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
maximum_value = max(my_tuple)
print(maximum_value)

10

In [52]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
minimum_value = min(my_tuple)
print(minimum_value)

1

In [53]:
string = "full stack data science"
characters = tuple(string)
print(characters)

('f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k', ' ', 'd', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

In [54]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
string = str(my_tuple)
print(string)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
merged_tuple = t1+t2
print(merged_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [1]:
def flatten_tuple(nested_tuple):
    flattened_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened_list.extend(flatten_tuple(item))
        else:
            flattened_list.append(item)
    return tuple(flattened_list)


nested_tuple = ((1, 2), (3, (4, 5)), 6)
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [4]:
def is_prime(n):
    if n <= 1:
        return False
    if n == 2:
        return True
    if n % 2 == 0:
        return False
    for i in range(3 , int(n**0.5) + 1 , 2):
        if n % i ==0:
            return False
    return True

prime_numbers = []
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1
    
prime_tuple = tuple(prime_numbers)
print(prime_tuple)

(2, 3, 5, 7, 11)

In [8]:
def is_palindrome(tuple):
    return tuple == tuple[::-1]
tuple = (1,2,3,2,1)
print(is_palindrome(tuple))

True

In [1]:
# Using list comprehension to generate squares of numbers from 1 to 5
squares = tuple(x**2 for x in range(1, 6))

print(squares)

(1, 4, 9, 16, 25)

In [2]:
tuple = (1,2,3,4,5,6,7,8,9,10)
for i in tuple:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

In [3]:
tuple = (1,2,3,4,5,6,7,8,9,10)
list(map(lambda a : a*2 , tuple))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
import random
random_numbers = tuple(random.randint(1,10) for _ in range (5))
print(random_numbers)

(10, 3, 8, 6, 3)

In [6]:
def is_sorted(tup):
    return tup == tuple(sorted(tup))

tup = (1,2,3,4,5)
print(is_sorted(tup))

True

In [1]:
def rotate_tuple_left(tup,n):
    n %= len(tup)
    return tup[n:] + tup[:n] 

my_tuple = (1,2,3,4,5)
n = 2
rotated_tuple = rotate_tuple_left(my_tuple, n)
print(rotated_tuple)

(3, 4, 5, 1, 2)

In [3]:
def rotate_tuple_right(tup,n):
    n %= len(tup)
    return tup[-n:] + tup[:-n] 

my_tuple = (1,2,3,4,5)
n = 2
rotated_tuple = rotate_tuple_right(my_tuple, n)
print(rotated_tuple)

(4, 5, 1, 2, 3)

In [ ]:
def fibonacci(n):
    fib_sequence = [0, 1]  
    while len(fib_sequence) < n:
        next_fib = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_fib)
    return tuple(fib_sequence)


first_5_fibonacci = fibonacci(5)
print(first_5_fibonacci)

In [8]:
def fibonacci(n):
    fib_sequence = [0,1]
    while len(fib_sequence) < n:
        next_fib = fib_sequence[-1] + fib_sequence[-2]
        fib_sequence.append(next_fib)
    return tuple(fib_sequence) 

first_5_fibonacci = fibonacci(5)
print(first_5_fibonacci)

(0, 1, 1, 2, 3)

In [9]:
user_input = input("enter elements separated by space: ").split()
user_tuple = tuple(user_input)
print(user_tuple)

enter elements separated by space:  1 2 3 4 5 6 7

('1', '2', '3', '4', '5', '6', '7')

In [3]:
def swap_elements(tup , i , j):
    temp_list = list(tup)
    temp_list[i] , temp_list[j] = temp_list[j] , temp_list[i]
    return tuple(temp_list)

my_tuple = (1,2,3,4,5)
i = 1
j = 3
swapped_tuple = swap_elements(my_tuple,i,j)
print(swapped_tuple)

(1, 4, 3, 2, 5)

In [4]:
my_tuple = (1,2,3,4,5,6,7,8)
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)

(8, 7, 6, 5, 4, 3, 2, 1)

In [9]:
def powers_of_2(n):
    return tuple(2**i for i in range(n))

n = 5
power_tuple = powers_of_2(n)
print(power_tuple)

(1, 2, 4, 8, 16)

In [2]:
def longest_string_in_tuple(tup):
    longest = ""
    for string in tup:
        if len(string) > len(longest):
            longest = string
            
    return longest 

my_tuple = ("apple", "banana", "orange", "kiwi", "strawberry") 
longest_tuple = longest_string_in_tuple(my_tuple)
print("longest tuple",longest_tuple)

longest tuple strawberry

In [3]:
def shortest_string_in_tuple(tup):
    shortest = None  
    
    for string in tup:
        if shortest is None or len(string) < len(shortest):
            shortest = string
    
    return shortest


my_tuple = ("apple", "banana", "orange", "kiwi", "strawberry")
shortest = shortest_string_in_tuple(my_tuple)
print("Shortest string:", shortest)

Shortest string: kiwi

In [4]:
def triangular_numbers(n):
    return tuple((i * (i + 1)) // 2 for i in range(1, n + 1))


n = 5
triangular_tuple = triangular_numbers(n)
print(triangular_tuple)

(1, 3, 6, 10, 15)

In [5]:
def contains_subsequence(main_tuple, sub_tuple):
    m = len(main_tuple)
    n = len(sub_tuple)

    for i in range(m - n + 1):
        if main_tuple[i:i + n] == sub_tuple:
            return True

    return False


main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (3, 4, 5)
result = contains_subsequence(main_tuple, sub_tuple)
print("Contains subsequence:", result)

Contains subsequence: True

In [7]:
def alternating_ones_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))


n = 7
alternating_tuple = alternating_ones_zeros(n)
print(alternating_tuple)

(1, 0, 1, 0, 1, 0, 1)

In [1]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [7]:
set = {1,2,3,4,5}
set.add(6)
print(set)

{1, 2, 3, 4, 5, 6}

In [9]:
set = {1,2,3,4,5,6}
set.pop()
print(set)

{2, 3, 4, 5, 6}

In [13]:
set = {1,2,3,4,5,6}
if 3 in set:
    print('yes')
else:
    print('no')

yes

In [15]:
def find_len_set(set):
    return sum(1 for int in set)

set = {1,2,3,4,5,6,7}
print(find_len_set(set))

7

In [17]:
set = {1,2,3,4,5,6}
set.clear()
print(set)

set()

In [21]:
even_numbers = {i for i in range(1,11)  if i%2 ==0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [22]:
odd_numbers = {i for i in range(1,11) if i%2 !=0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [23]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

In [25]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
difference_set = set1.difference(set2)
print(difference_set)

{1, 2, 3}

In [26]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
subset_set = set1.issubset(set2)
print(subset_set)

False

In [27]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
is_superset = set1.issuperset(set2)
print(is_superset)

False

In [1]:
list1 = [1,2,2,3,4,5,6,6,7,7]
new_set = set(list1)
print(new_set)

{1, 2, 3, 4, 5, 6, 7}

In [2]:
set2 = {1,2,3,4,5,6}
new_list = list(set2)
print(new_list)

[1, 2, 3, 4, 5, 6]

In [4]:
set = {1,2,3,4,5,6,7}
new_set = set.pop()
print(set)

{2, 3, 4, 5, 6, 7}

In [6]:
set = {1,2,3,4,5,6,7}
popped_set = set.pop()
print(set)

{2, 3, 4, 5, 6, 7}

In [7]:
set1 = {1,2,3}
set2 = {4,5,6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

True

In [8]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 3, 6, 7, 8}

In [10]:
set1 = {1,2,3}
set2 = {4,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [11]:
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [1]:
set1 = {1,2,3}
set2 = {3,2,1}
if set1 == set2:
    print("both the sets are identical")
else:
    print("both the sets are not identical ")

both the sets are identical

In [2]:
my_set = {1, 2, 3, 4, 5}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [3]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint.")
else:
    print("The sets have elements in common.")

The sets are disjoint.

In [5]:
squares_set = {x**2 for x in range(1,6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [6]:
original_set = {1,2,3,4,5,6,7,8,9,10}
odd_numbers_set = {i for i in original_set if i%2 !=0}
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [7]:
original_set = {1,2,3,4,5,6,7,8,9,10}
multiply_by_2 = {i*2 for i in original_set}
print(multiply_by_2)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [9]:
import random

random_set = set(random.sample(range(1,101),5))
print(random_set)

{34, 40, 43, 82, 52}

In [10]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [11]:
nested_set = {frozenset({1, 2}), frozenset({'a', 'b', 'c'})}
print(nested_set)

{frozenset({'c', 'a', 'b'}), frozenset({1, 2})}

In [12]:
set4 = {1,2,3,4,5,6,7}
set4.discard(6)
print(set4)

{1, 2, 3, 4, 5, 7}

In [13]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
set3 = {1, 2, 4}
set4 = {1, 2, 3, 4}

print(set1 == set2)  
print(set1 != set3) 
print(set1 < set4)   
print(set4 > set1)   
print(set1 <= set2)  
print(set4 >= set3)

True
True
True
True
True
True

In [14]:
my_string = ("hello")
my_set = set(my_string)
print(my_set)

{'e', 'o', 'h', 'l'}

In [15]:
set_of_strings = {"1", "2", "3", "4", "5"}
set_of_integers = {int(x) for x in set_of_strings}
print(set_of_integers)

{1, 2, 3, 4, 5}

In [18]:
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = {str(x) for x in set_of_integers}
print(set_of_strings)

{'1', '5', '4', '2', '3'}

In [19]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [20]:
my_set = {1,2,3,4,5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [23]:
set4 = {78,42,14,25,65,79}
max_set4 = max(set4)
print(max_set4)

79

In [24]:
set4 = {78,42,14,25,65,79}
min_set4 = min(set4)
print(min_set4)

14

In [26]:
user_input = input("Enter elements separated by spaces: ")
elements_list = user_input.split()  
user_set = set(elements_list)       

print("Set from user input:", user_set)

Enter elements separated by spaces:  1 2 3 4 5

Set from user input: {'1', '5', '4', '2', '3'}

In [29]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of the sets is empty.")
else:
    print("The intersection of the sets is not empty.")

The intersection of the sets is empty.

In [31]:
fibonacci_set = set()
a , b = 0 , 1
count = 0

while count <= 5:
    fibonacci_set.add(a)
    a , b = b , a + b
    count += 1
print(fibonacci_set)

{0, 1, 2, 3, 5}

In [34]:
my_list = [1, 2, 3, 3, 4, 5, 5, 6]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5, 6]

In [35]:
set1 = {1, 2, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements regardless of their count.")
else:
    print("The sets do not have the same elements regardless of their count.")

The sets have the same elements regardless of their count.

In [1]:
n = 5  
powers_of_2_set = {2 ** i for i in range(n)}
print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [2]:
my_set = {1, 2, 3, 4, 5}
my_list = [4, 5, 6, 7, 8]

common_elements = my_set.intersection(my_list)
print(common_elements)

{4, 5}

In [3]:
n = 5
triangular_set_numbers = {i*(i+1)// 2 for i in range (1,n+1)}
print(triangular_set_numbers)

{1, 3, 6, 10, 15}

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

In [12]:
def alternating_ones_and_zeros(n):
    return [i % 2 for i in range(n)]

In [13]:
alternating_ones_and_zeros(6)

[0, 1, 0, 1, 0, 1]

In [14]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}