In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
def sum_of_list(list1):
  sum = 0
  for i in list1:
    sum += i
  return sum

numbers = [5,4,7,8,3,2]
result = sum_of_list(numbers)
print(result)

29

In [ ]:
def reversed_string(string):
  reversed_string = ''
  for char in string:
    reversed_string = char + reversed_string
  return reversed_string

string1 = 'alphabet'
result = reversed_string(string1)
print(result)

tebahpla

In [ ]:
def fact_of(n):
  if n < 0 :
    return None
  elif n == 0:
    return 1
  else:
    factorial = 1
    for i in range(1,n+1):
      factorial *= i
    return factorial

num = 6
result = fact_of(num)
print(result)

720

In [ ]:
n = int(input('enter a number '))
for i in range(1,11):
  result = n*i
  print(f' {n} X {i} = {result}.')

enter a number 9
 9 X 1 = 9.
 9 X 2 = 18.
 9 X 3 = 27.
 9 X 4 = 36.
 9 X 5 = 45.
 9 X 6 = 54.
 9 X 7 = 63.
 9 X 8 = 72.
 9 X 9 = 81.
 9 X 10 = 90.

In [ ]:
list = [1,2,3,4,5,6,7,8,9]
sum_even = 0
sum_odd = 0
for i in list:
  if i % 2 == 0:
    sum_even += 1
  else:
    sum_odd += 1

print(sum_even)
print(sum_odd)

4
5

In [ ]:
for i in range(1,6):
  square = i**2
  print(square)

1
4
9
16
25

In [ ]:
string = 'pwskills'
count = 0

for char in string:
  if char in string:
    count += 1

print(count)

8

In [ ]:
list1 = [10,20,30,40,50]
total_count = 0

for i in list1:
  total_count += i

average = total_count / len(list1)
print(average)

30.0

In [ ]:
n = 10
a,b = 0,1
for i in range(n):
  print(a,end = " " )
  a,b = b,a+b

0 1 1 2 3 5 8 13 21 34

In [2]:
def contains_duplicates(input_list):

  seen = set()

  for element in input_list:

    if element in seen:
      return True

    seen.add(element)

  return False

my_list = [1,2,3,4,5,6,7,8,9]
print(contains_duplicates(my_list))

False

In [ ]:
def print_prime_numbers(start, end):

  for num in range(start, end + 1):

    if num > 1:

      for i in range(2,num):
        if (num % i) == 0:
          break

      else:
          print(num)

start_range = 10
end_range = 50
print(f"Prime numbers between {start_range} and {end_range} are:")
print_prime_numbers(start_range, end_range)

Prime numbers between 10 and 50 are:
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
string = 'datascience'
vowels = ('a', 'e', 'i', 'o', 'u')
count = 0
for i in string:
  if i in vowels:
    count += 1

print(count)

5

In [ ]:
matrix = [
         [2, 6, 8],
         [4, 7, 9],
         [1, 9, 10]
]
max_element = float('-inf')

for i in matrix:
  for j in i:
    if j > max_element:
      max_element = j

print(max_element)

10

In [ ]:
def remove_element(lst, element):
  result = []
  for i in lst:
    if i != element:
      result.append(i)
  return result

my_list = [1, 2, 3, 2, 4, 2, 5]
to_remove = 2
new_list = remove_element(my_list,to_remove)
print(new_list)

[1, 3, 4, 5]

In [ ]:
for i in range(1,6):
  for j in range(1,11):
    print(f'{i} X {j} = {i*j}.')
  print()

1 X 1 = 1.
1 X 2 = 2.
1 X 3 = 3.
1 X 4 = 4.
1 X 5 = 5.
1 X 6 = 6.
1 X 7 = 7.
1 X 8 = 8.
1 X 9 = 9.
1 X 10 = 10.

2 X 1 = 2.
2 X 2 = 4.
2 X 3 = 6.
2 X 4 = 8.
2 X 5 = 10.
2 X 6 = 12.
2 X 7 = 14.
2 X 8 = 16.
2 X 9 = 18.
2 X 10 = 20.

3 X 1 = 3.
3 X 2 = 6.
3 X 3 = 9.
3 X 4 = 12.
3 X 5 = 15.
3 X 6 = 18.
3 X 7 = 21.
3 X 8 = 24.
3 X 9 = 27.
3 X 10 = 30.

4 X 1 = 4.
4 X 2 = 8.
4 X 3 = 12.
4 X 4 = 16.
4 X 5 = 20.
4 X 6 = 24.
4 X 7 = 28.
4 X 8 = 32.
4 X 9 = 36.
4 X 10 = 40.

5 X 1 = 5.
5 X 2 = 10.
5 X 3 = 15.
5 X 4 = 20.
5 X 5 = 25.
5 X 6 = 30.
5 X 7 = 35.
5 X 8 = 40.
5 X 9 = 45.
5 X 10 = 50.

In [ ]:
def farenheit_to_celsius(f_temps):
  celsius_temp = []
  for temp in f_temps:
    celsius = (temp - 32) * 5/9
    celsius_temp.append(celsius)
  return celsius_temp

f_temps = [34,68,107,212]
c_temps = farenheit_to_celsius(f_temps)
print(c_temps)

[1.1111111111111112, 20.0, 41.666666666666664, 100.0]

In [ ]:
def common_element(data1,data2):
  data3 = []
  for i in data1:
    for j in data2:
      if i == j:
        data3.append(i)
  return data3

data1 = [1,2,3,4,6,8]
data2 = [1,5,4,8,9]
common_element(data1,data2)

[1, 4, 8]

In [ ]:
def print_triangle(n):
  for i in range(1,n+1):
    print(' *' * i)

print_triangle(5)

 *
 * *
 * * *
 * * * *
 * * * * *

In [ ]:
def gcd(a, b):
    gcd = 1
    for i in range(1, min(a,b)+1):
      if a%i == 0 and b%i == 0:
        gcd = i
    return gcd

num1 = 48
num2 = 30
print("GCD of", num1, "and", num2, "is:", gcd(num1,num2))

GCD of 48 and 30 is: 6

In [ ]:
def sum_of_digits(numbers):
    return [sum(int(digit) for digit in str(number)) for number in numbers]


numbers = [123, 456, 789]
print(sum_of_digits(numbers))

[6, 15, 24]

In [ ]:
def prime_factors(number):
    factors = []

    while number % 2 == 0:
        factors.append(2)
        number //= 2


    for i in range(3, int(number**0.5) + 1, 2):
        while number % i == 0:
            factors.append(i)
            number //= i


    if number > 2:
        factors.append(number)

    return factors


number = 315
print(prime_factors(number))

[3, 3, 5, 7]

In [ ]:
def unique_elements(lst):
    return [element for index, element in enumerate(lst) if element not in lst[:index]]


numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
unique_numbers = unique_elements(numbers)
print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def palindromic_numbers(limit):
    return [number for number in range(limit) if str(number) == str(number)[::-1]]


limit = 200
palindromes = palindromic_numbers(limit)
print(palindromes)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

In [ ]:
def flatten_nested_list(nested_list):
    return [item for sublist in nested_list for item in sublist]


nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened_list = flatten_nested_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
numbers = [1,2,3,4,5,6,7,8,9,10]

sum_even = sum([num for num in numbers if num % 2 == 0])
sum_odd = sum([num for num in numbers if num % 2 != 0])

print("sum of even numbers:",sum_even)
print("sum of odd numbers:",sum_odd)

sum of even numbers: 30
sum of odd numbers: 25

In [6]:
squares_of_odd_numbers = [num**2 for num in range(1,11) if num % 2 !=0]

print("squares of odd numbers between 1 and 10:",squares_of_odd_numbers)

squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

In [7]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]


combined_dict = {keys[i]: values[i] for i in range(len(keys))}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [8]:

text = "Hello, how are you?"


vowels = [char for char in text if char.lower() in 'aeiou']

print("List of vowels:", vowels)

List of vowels: ['e', 'o', 'o', 'a', 'e', 'o', 'u']

In [9]:

strings = ["abc123", "def456", "ghi789", "1a2b3c"]


numeric_strings = [''.join([char for char in s if char.isdigit()]) for s in strings]

print("List of numeric strings:", numeric_strings)

List of numeric strings: ['123', '456', '789', '123']

In [10]:
def sieve_of_eratosthenes(n):

    prime = [True] * (n + 1)
    p = 2
    while (p * p <= n):

        if prime[p]:

            for i in range(p * p, n + 1, p):
                prime[i] = False
        p += 1

    return [p for p in range(2, n + 1) if prime[p]]


prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [11]:
def pythagorean_triplets(limit):

    triplets = [(a, b, c) for a in range(1, limit+1)
                        for b in range(a, limit+1)
                        for c in range(b, limit+1)
                        if a**2 + b**2 == c**2]
    return triplets


limit = 20
triplets = pythagorean_triplets(limit)
print("Pythagorean triplets up to", limit, ":", triplets)

Pythagorean triplets up to 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [12]:

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']


combinations = [(x, y) for x in list1 for y in list2]

print("All possible combinations:", combinations)

All possible combinations: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [13]:
from statistics import mean, median, mode


numbers = [1, 2, 2, 3, 4, 4, 4, 5, 6]


mean_value = mean(numbers)


median_value = median(numbers)


mode_value = mode(numbers)

print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

Mean: 3.4444444444444446
Median: 4
Mode: 4

In [14]:
def generate_pascals_triangle(n):

    triangle = [[1]]
    for i in range(1, n):

        row = [1 if j == 0 or j == i else triangle[i-1][j-1] + triangle[i-1][j] for j in range(i+1)]
        triangle.append(row)
    return triangle


num_rows = 5
pascals_triangle = generate_pascals_triangle(num_rows)
print("Pascal's Triangle up to", num_rows, "rows:")
for row in pascals_triangle:
    print(row)

Pascal's Triangle up to 5 rows:
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [15]:
import math


factorial_digit_sums = [sum(int(digit) for digit in str(math.factorial(num))) for num in range(1, 6)]

print("Sum of the digits of the factorial of numbers from 1 to 5:", factorial_digit_sums)

Sum of the digits of the factorial of numbers from 1 to 5: [1, 2, 6, 6, 3]

In [16]:

sentence = "The quick brown fox jumps over the lazy dog"


longest_word = max(sentence.split(), key=len)

print("The longest word in the sentence is:", longest_word)

The longest word in the sentence is: quick

In [17]:

strings = ["hello", "beautiful", "world", "extraordinary", "example"]


def count_vowels(s):
    return sum(1 for char in s.lower() if char in 'aeiou')


filtered_strings = [s for s in strings if count_vowels(s) > 3]

print("Strings with more than three vowels:", filtered_strings)

Strings with more than three vowels: ['beautiful', 'extraordinary']

In [18]:

digit_sums = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]

print("Sum of the digits of numbers from 1 to 1000:", digit_sums)

Sum of the digits of numbers from 1 to 1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [19]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True


prime_palindromic_numbers = [num for num in range(1, 1001) if is_palindrome(num) and is_prime(num)]

print("List of prime palindromic numbers:", prime_palindromic_numbers)

List of prime palindromic numbers: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]